homeworks/data/yellow_tripdata_2022-01.parquet
homeworks/data/yellow_tripdata_2022-02.parquet
homeworks/data/green_tripdata_2022-01.parquet
homeworks/data/green_tripdata_2022-02.parquet
homeworks/data/green_tripdata_2022-03.parquet
__pycache__
